.container {
  margin-top: 2%;
  padding-bottom: 7rem;
}

.panel {
  box-shadow: 0 2px 4px 0 rgba(150, 150, 150, 0.5);
}

.halfWidth {
  width: 100vw;
}

.hundredHeight {
  height: 100vh;
}

.sigmaDarkBg {
  background-color: #636463;
}

.lightBgColor {
  background-color: #efefef;
}

.sigmaBlue {
  background-color: #006486;
}

.sigmaRed {
  background-color: #eb590a;
}

.rounded-ltlb-pill {
  border-radius: 31px 0 0 31px;
}

.rounded-rtrb-pill {
  border-radius: 0 31px 31px 0;
}
