<<<<<<< HEAD
.container {
  margin-top: 1%;
  padding-bottom: 0rem;
  background-color: #efefef;
}

.card{
  background-color: #efefef;
}


.panel {
  box-shadow: 0 2px 4px 0 rgba(150, 150, 150, 0.5);
}

.fullWidth {
  width: 100vw;
}

.fullHeight {
  height: 70vh;
}

.sigma-modal {
  width: 90vw;
  max-width: 90vw;
}
/* .modal-dialog {
  width: 100vw;
} */

.modal-header {
  background-color: rgb(16, 38, 59);
  padding: 1px 1px;
  color: rgb(16, 38, 59);
  border-bottom: 2px dashed rgb(16, 38, 59);
}

.sigmaDarkBg {
  background-color:rgb(16, 38, 59);
}

.lightBgColor {
  background-color: rgb(16, 38, 59);
}

.sigmaBlue {
  background-color:rgb(255, 80, 0);
}

.sigmaRed {
  background-color: rgb(255, 80, 0);
}

.rounded-ltlb-pill {
  border-radius: 31px 0 0 31px;
}

.rounded-rtrb-pill {
  border-radius: 0 31px 31px 0;
}

.sigmaStatusBar {
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
  /* margin-right: 20px; */
  /* box-shadow: 0 2px 4px 0 rgba(150, 150, 150, 0.5); */
}

.hidden {
  display: none;
}

body {
  padding-bottom: 20px;
  background-color: #efefef;
  font-family: Century Gothic;
  font-weight: 400 ;
  
}

@font-face {
  font-family: Avenir;
  src: url(Avenir.ttc);
}

@font-face {
  font-family: Century Gothic;
  src: url(CenturyGothic.ttf);
}


.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.js-plotly-plot .plotly .modebar {
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 544px) {
  h1 {
    font-size: 1.5rem;
  } /*1rem = 16px*/
}
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  } /*1rem = 16px*/
}
@media (min-width: 992px) {
  h1 {
    font-size: 1rem;
  } /*1rem = 16px*/
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  } /*1rem = 16px*/
}
@media (min-width: 950px) and (max-width: 1100px) {
  h1 {
    font-size: 2.75rem;
    /* color: red; */
  }
}

@media only screen and (min-width: 480px) {
  /* #mapMenuItem {
    display: none;
  } */
}

@media only screen and (max-width: 1110px) {
  #myAlerts > div > div > table > thead > tr > th > h6 {
    font-size: small;
  }
}

@media only screen and (max-width: 1000px) {
  #myAlerts > div > div > table > thead > tr > th > h6 {
    font-size: x-small;
  }
}
@media only screen and (max-width: 1900px) {
  /* #myMap {
    display: none;
  } */
  /* #mapMenuItem {
    display: block;
  } */

#form-control .form-control:lang(en)::after {
    content: "Select file...";
  }
  .sigmaStatusBar {
    border-radius: 15px 15px 15px 15px;
  }
  .sigmaStatusBar > div > div > h5 {
    max-width: 90vw;
  }
  .sigmaStatusBar > div > div > h5 > span:first-child {
    width: 50vw;
    max-width: 50vw;
  }

  #myAlerts > div > div > table > thead > tr > th > h6 {
    font-size: xx-small;
  }
}



.btn-primary {
  background-color: rgb(255, 80, 0);
  border-color: #10263b;
}
.btn-primary:hover {
  background-color: #10263b;
}

.btn-seconday {
  background-color: #636463;
}

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s;
}

.spinnerContainer #spinner {
  position: relative;
  top: 50%;
  right: 0%;
}


.btn-off {
  background-color: #10263b; /* Light gray for inactive */
  color: #ffffff; /* Dark gray for text */
}

.btn-active {
  background-color: rgb(255, 80, 0); /* Blue for active */
  color: #ffffff; /* White for text */
}
=======
.container {
  margin-top: 1%;
  padding-bottom: 0rem;
  background-color: #efefef;
}

.card{
  background-color: #efefef;
}


.panel {
  box-shadow: 0 2px 4px 0 rgba(150, 150, 150, 0.5);
}

.fullWidth {
  width: 100vw;
}

.fullHeight {
  height: 70vh;
}

.sigma-modal {
  width: 90vw;
  max-width: 90vw;
}
/* .modal-dialog {
  width: 100vw;
} */

.modal-header {
  background-color: rgb(16, 38, 59);
  padding: 1px 1px;
  color: rgb(16, 38, 59);
  border-bottom: 2px dashed rgb(16, 38, 59);
}

.sigmaDarkBg {
  background-color:rgb(16, 38, 59);
}

.lightBgColor {
  background-color: rgb(16, 38, 59);
}

.sigmaBlue {
  background-color:rgb(255, 80, 0);
}

.sigmaRed {
  background-color: rgb(255, 80, 0);
}

.rounded-ltlb-pill {
  border-radius: 31px 0 0 31px;
}

.rounded-rtrb-pill {
  border-radius: 0 31px 31px 0;
}

.sigmaStatusBar {
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
  /* margin-right: 20px; */
  /* box-shadow: 0 2px 4px 0 rgba(150, 150, 150, 0.5); */
}

.hidden {
  display: none;
}

body {
  padding-bottom: 20px;
  background-color: #efefef;
  font-family: Century Gothic;
  font-weight: 400 ;
  
}

@font-face {
  font-family: Avenir;
  src: url(/opt/rdss/frontend/styles/Avenir.ttc);
}

@font-face {
  font-family: Century Gothic;
  src: url(/opt/rdss/frontend/styles/CenturyGothic.ttf);
}


.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.js-plotly-plot .plotly .modebar {
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 544px) {
  h1 {
    font-size: 1.5rem;
  } /*1rem = 16px*/
}
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  } /*1rem = 16px*/
}
@media (min-width: 992px) {
  h1 {
    font-size: 1rem;
  } /*1rem = 16px*/
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  } /*1rem = 16px*/
}
@media (min-width: 950px) and (max-width: 1100px) {
  h1 {
    font-size: 2.75rem;
    /* color: red; */
  }
}

@media only screen and (min-width: 480px) {
  /* #mapMenuItem {
    display: none;
  } */
}

@media only screen and (max-width: 1110px) {
  #myAlerts > div > div > table > thead > tr > th > h6 {
    font-size: small;
  }
}

@media only screen and (max-width: 1000px) {
  #myAlerts > div > div > table > thead > tr > th > h6 {
    font-size: x-small;
  }
}
@media only screen and (max-width: 1900px) {
  /* #myMap {
    display: none;
  } */
  /* #mapMenuItem {
    display: block;
  } */

#form-control .form-control:lang(en)::after {
    content: "Select file...";
  }
  .sigmaStatusBar {
    border-radius: 15px 15px 15px 15px;
  }
  .sigmaStatusBar > div > div > h5 {
    max-width: 90vw;
  }
  .sigmaStatusBar > div > div > h5 > span:first-child {
    width: 50vw;
    max-width: 50vw;
  }

  #myAlerts > div > div > table > thead > tr > th > h6 {
    font-size: xx-small;
  }
}



.btn-primary {
  background-color: rgb(255, 80, 0);
  border-color: #10263b;
}
.btn-primary:hover {
  background-color: #10263b;
}

.btn-seconday {
  background-color: #636463;
}

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s;
}

.spinnerContainer #spinner {
  position: relative;
  top: 50%;
  right: 0%;
}
>>>>>>> development
